.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
}

.header h2 {
    font-size: 3em;
}

.header h5 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.header p {
    font-size: 1.2em;
}

.button {
    display: inline-block;
    background: #3CAEA3;
    padding: 10px 16px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 12px;
    font-weight: 500;
    margin-bottom: 150px;
}

.button:hover {
    background: white;
    color: #3CAEA3;
}