.portfolio {
    text-align: center;
}

.portfolio h3 {
    font-size: 1em;
    font-weight: 400;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
    margin: 60px 20px;
}

.projects h3{
    text-align: center;
    margin: 20px auto 0px;
    font-weight: 500;
    font-size: 1.2em;
}

.projects p{
    margin-top: 10px;
}

.button {
    display: inline-block;
    background: #3CAEA3;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
}

.button:hover {
    background-color: white;
    color: #3CAEA3;
}

.project {
    position: relative;
}

.image {
    width: 90%;
}

.overlay {
    font-size: 1.1em;
    position: absolute;
    top: 0;
    right: 5%;
    width: 90%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay:hover {
    opacity: 1;
}